/* Custom Bootstrap */
$spacers: (
5r: 5rem,
6r: 6rem,
10r: 10rem,
15r: 15rem
);

@import "../node_modules/bootswatch/dist/cerulean/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/cerulean/bootswatch";

.input-group>.input-group-prepend {
  flex: 0 0 22%;
}
.input-group-text {
  width: 100%;
}

.input-group {
  width: 90% !important;
}

#deadlineInput {
  height: 40px !important;
  width: 100%;
}

#cam {
  background: #61dafb;
}

profilePicture {
  width: 10px;
  height: 10px;
}

.app {
  background: linear-gradient(#562d81, #158ace) !important;
}

#app {
  background: linear-gradient(#562d81, #158ace) !important;
}

.border-3 {
  border-width:3px !important;
}
